# python environment folder
env/

# external dependencies
extern/*

# hidden directories
.*/

# plots and data
data/
figures/
*.h5
*.png
*.pdf
*.jpg

# compiled libraries and executables
*.so
*.x

# python caches
__pycache__/